body {
  /* By default, the body has a margin around it.  Let's reset that to 0 to start with. */
  margin: 0;
}

/* Only modify the styles within the following CSS Rules */

.box-one {
  height: 100px;
  padding: 0px;
  margin: 0px;
  background-color: lightblue;
  text-align: center; 
}

.box-two {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: lightcyan;
  text-align: center; 
  line-height: 100px;
}

.box-three {
  width: 500px;
  height: 20vh;
  margin: auto;
  padding: 10px;
  background-color: rgb(32, 178, 170);
  text-align: right; 
}

.box-four {
  width: 25vw;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #90ee90;
  border: 5px solid greenyellow; 
}

.box-five {
  width: 100px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  border: 5px dotted #008000; 
}

.box-six {
  width: 100px;
  margin: auto;
  margin-top: -50px;
  padding: 5px;
  border: 5px dashed lime; 
}